/* .chooseDiv {
  width: 70vw;
  margin: auto;
  margin-top: 30px;
}

.rmsc .dropdown-container {
  position: relative;
  outline: 0;
  background-color: #1a0029;
  border: 1px solid var(--rmsc-border);
  border-radius: var(--rmsc-radius);
} */
